@font-face {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
  font-display: swap;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  overflow-y: auto;
  min-height: 100vh;
  z-index: -5;
}

.block-page-one {
  background: linear-gradient(to right, #1F0606, #360000, #1F0606, #000);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
}

.block-page-two {
  background: linear-gradient(to right, #636363, #4970A4, #4970A4, #4970A4, #636363, #355279, #48494f);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.49);
}

.main-nav {
  display: flex;
  flex-direction: row;
  margin-left: 95px;
  margin-top: 40px;
  align-items: center;
  z-index: 8;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.main-nav__link {
  transition: all 0.3s ease;
  z-index: 7;
}

.main-nav__link:hover {
  filter: brightness(150%);
  transition: all 0.2s ease;
}

.main-nav__link:active {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.main-nav__list-item {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 23px;
}

.main-nav__list-link {
  position: relative;
  z-index: 5;
  transition: all 0.3s ease;
}

.main-nav__list-link:hover {
  color: #ffffff;
}

.main-nav__list-link:hover::before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}

.main-nav__list-link::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.main-nav__list-link:active {
  color: rgba(255, 255, 255, 0.49);
  transition: all 0.3s ease;
}

.main-nav__list-item:first-child {
  margin-left: 50px;
}

.section-text {
  display: flex;
  flex-wrap: nowrap;
}

.section-text__version {
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.49);
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 27px;
  margin-block-start: 0;
}

.title-exclusive {
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 60px;
  width: 550px;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #ffffff;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorAnimation 4s linear infinite;
}

@keyframes colorAnimation {
  0%, 100% {
    color: #570909;
    background-color: #570909;
  }
  33% {
    color: #ffffff;
    background-color: #ffffff;
  }
  66% {
    color: #880000;
    background-color: #880000;
  }
}

.title-exclusive-two {
  animation: colorAnimationTwo 4s linear infinite;
}

@keyframes colorAnimationTwo {
  0%, 100% {
    color: #355279;
    background-color: #355279;
  }
  33% {
    color: #ffffff;
    background-color: #ffffff;
  }
  66% {
    color: #4970A4;
    background-color: #4970A4;
  }
}

.text-exclusive {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.49);
  font-size: 22px;
  width: 550px;
  line-height: 40px;
  letter-spacing: 1.5px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.section-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 160px;
  margin-top: 150px;
}

.section-ellipse__small {
  position: relative;
}

.section-ellipse__image {
  stroke: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateY(30%) translate(-50%);
  width: 220px;
  height: 230px;
}

.section-see__page {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 300px;
  height: 150px;
  margin-left: 150px;
  z-index: 6;
}

.outer-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #fff;
  margin-top: 40px;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
}

.outer-circle:hover {
  border-color: #360000;
  box-shadow: 0 0 10px #880000;
}

.outer-circle-two:hover {
  border-color: #4970A4;
  box-shadow: 0 0 10px #355279;
}

.outer-circle:active {
  transform: scale(0.9);
}

.inner-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-circle:hover .inner-circle .arrow {
  transition: all 0.3s ease;
  animation: rainbow 2s linear infinite;
  filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(2854%) hue-rotate(334deg) brightness(89%) contrast(90%); /* Применение фильтра яркости при наведении */
}

.outer-circle-two:hover .inner-circle-two .arrow-two {
  transition: all 0.3s ease;
  animation: rainbowTwo 2s linear infinite;
}

.arrow {
  width: 50px;
  height: 30px;
  background-image: url(images/arrow-see.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 18%;
  transition: all 0.3s ease;
}

.arrow-two {
  color: #355279;
}

@keyframes rainbow {
  0% { filter: hue-rotate(0deg) brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(2854%) hue-rotate(334deg) brightness(89%) contrast(90%); }
  100% { filter: hue-rotate(360deg) brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(2854%) hue-rotate(334deg) brightness(89%) contrast(90%); }
}

@keyframes rainbowTwo {
  0% { filter: hue-rotate(0deg) brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(2854%) hue-rotate(203deg) brightness(89%) contrast(90%); }
  100% { filter: hue-rotate(360deg) brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(2854%) hue-rotate(203deg) brightness(89%) contrast(90%); }
}

.outer-circle:hover .arrow {
  border-color: #360000;
  transition: all 0.3s ease;
}

.outer-circle-two:hover .arrow {
  border-color: #4970A4;
  transition: all 0.3s ease;
}

.section-see__text {
  width: 156px;
  height: 35px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  margin-top: 55px;
  margin-left: 20px;
  margin-block-end: 0;
}

.section-main__pictures-block {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.section-main__pictures-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(40%, -40%);
  width: 100%;
  height: 100%;
}

.section-main_image-ellipse {
  position: absolute;
  z-index: 1;
  max-width: 38%;
  width: auto;
  height: auto;
  right: 0;
  top: 0;
}

.section-main_image-blood {
  position: absolute;
  z-index: 2;
  max-width: 30%;
  width: auto;
  height: auto;
  right: 90px;
  top: 150px;
}

.section-main_image-dragon {
  position: absolute;
  z-index: 3;
  max-width: 25%;
  width: auto;
  height: auto;
  right: 115px;
  top: -60px;
}

.section-main_image-woman {
  position: absolute;
  z-index: 4;
  max-width: 23%;
  width: auto;
  height: auto;
  right: 120px;
  bottom: 80px;
}

.section-main_image-man {
  position: absolute;
  z-index: 4;
  max-width: 37%;
  width: auto;
  height: auto;
  right: 100px;
  bottom: 80px;
}

.pagination-container {
  display: flex;
  align-items: center;
  width: 450px;
  margin-top: 130px;
  margin-left: 130px;
  transition: transform 0.5s ease;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5px;
  background-color: #676767;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.pagination-slider {
  width: 33.33%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.5s ease;
}

.pagination-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: Kaisei Tokumin;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.pagination-item:last-child {
  margin-left: 15px;
}

.pagination-item.active {
  color: #333;
  transition: transform 0.5s ease;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease;
}
